# Ignore files for distribution archives.
/.ahoy.yml           export-ignore
/.docker             export-ignore
/.dockerignore       export-ignore
/.editorconfig       export-ignore
/.env                export-ignore
/.gitattributes      export-ignore
/.github             export-ignore
/.gitignore          export-ignore
/CLAUDE.md            export-ignore
/CONTRIBUTING.md     export-ignore
/MIGRATION.md        export-ignore
/behat.yml           export-ignore
/docker-compose.yml  export-ignore
/docs.php            export-ignore
/gherkinlint.json    export-ignore
/logo.png            export-ignore
/phpcs.xml           export-ignore
/phpstan.neon        export-ignore
/phpunit.xml         export-ignore
/rector.php          export-ignore
/renovate.json       export-ignore
/scripts             export-ignore
/tests               export-ignore
