# For reference, @see https://github.com/drevops/scaffold/blob/main/docker-compose.yml
x-project:
  &project ${PROJECT:-behat-steps}

x-url:
  &url ${LOCALDEV_URL:-http://behat-steps.docker.amazee.io}

x-volumes:
  &default-volumes
  volumes:
    - .:/app:${VOLUME_FLAGS:-delegated} ### Local overrides to mount host filesystem. Automatically removed in CI.
    ##- app:/app # Override for environment without host mounts. Automatically uncommented in CI.

x-user:
  &default-user
  user: '1000'

x-environment:
  &default-environment
  PROJECT: *project
  WEBROOT: build/web
  LOCALDEV_URL: *url
  LAGOON_LOCALDEV_URL: *url
  CI: ${CI:-}
  XDEBUG_ENABLE: ${XDEBUG_ENABLE:-}
  DRUPAL_VERSION: ${DRUPAL_VERSION:-11}
  GITHUB_TOKEN: ${GITHUB_TOKEN:-}
  PHP_MEMORY_LIMIT: 2048M

services:

  cli:
    build:
      context: .
      dockerfile: .docker/cli.dockerfile
    <<: *default-volumes
    user: root
    expose:
      - "8888"
    environment:
      <<: *default-environment
    volumes_from: ### Local overrides to mount host SSH keys. Automatically removed in CI.
      - container:amazeeio-ssh-agent ### Local overrides to mount host SSH keys. Automatically removed in CI.

  php:
    image: uselagoon/php-8.3-fpm:25.11.0
    <<: [*default-volumes, *default-user]
    environment:
      <<: *default-environment
    depends_on:
      - cli

  nginx:
    image: uselagoon/nginx-drupal:25.11.0
    <<: [*default-volumes, *default-user]
    environment:
      <<: *default-environment
    depends_on:
      - cli
    networks:
      - amazeeio-network ### This network is supported by Pygmy and used to route all requests to host machine locally. Removed in CI.
      - default

  mariadb:
    image: uselagoon/mariadb-10.6-drupal:25.11.0
    environment:
      <<: *default-environment
    ports:
      - "3306"

  chrome:
    image: selenium/standalone-chromium:143.0
    ports:
      - "7900:7900" # Access Chrome using noVNC at http://behat-steps.docker.amazee.io:7900/?autoconnect=1&password=secret
    expose:
      - "8888"
    shm_size: '1gb'
    <<: *default-volumes
    environment:
      <<: *default-environment
    depends_on:
      - cli

  # Helper container to wait for services to become available.
  wait_dependencies:
    image: drevops/docker-wait-for-dependencies:25.10.0
    depends_on:
      - cli
      - mariadb
    command: mariadb:3306

networks:           ### Use external networks locally. Automatically removed in CI.
  amazeeio-network: ### Automatically removed in CI.
    external: true  ### Automatically removed in CI.

volumes:
  app: {}
