# For reference, @see https://github.com/drevops/drupal-dev/blob/8.x/docker-compose.yml
version: '2.3'

x-project:
  &project ${PROJECT:-behat-steps}

x-url:
  &url ${LOCALDEV_URL:-http://behat-steps.docker.amazee.io}

x-volumes:
  &default-volumes
  volumes:
    - .:/app:${VOLUME_FLAGS:-delegated} ### Local overrides to mount host filesystem. Automatically removed in CI.
    ##- app:/app # Override for environment without host mounts. Automatically uncommented in CI.

x-user:
  &default-user
  user: '1000'

x-environment:
  &default-environment
  PROJECT: *project
  WEBROOT: build/web
  LOCALDEV_URL: *url
  LAGOON_LOCALDEV_URL: *url
  CI: ${CI:-}
  XDEBUG_ENABLE: ${XDEBUG_ENABLE:-}
  DRUPAL_VERSION: ${DRUPAL_VERSION:-9}
  BEHAT_SCREENSHOT_DIR: ${BEHAT_SCREENSHOT_DIR:-/app/screenshots}
  GITHUB_TOKEN: ${GITHUB_TOKEN:-}

services:

  cli:
    image: uselagoon/php-8.1-cli-drupal:23.2.0
    <<: *default-volumes
    user: root
    environment:
      <<: *default-environment
    volumes_from: ### Local overrides to mount host SSH keys. Automatically removed in CI.
      - container:amazeeio-ssh-agent ### Local overrides to mount host SSH keys. Automatically removed in CI.

  php:
    image: uselagoon/php-8.1-fpm:23.2.0
    <<: *default-volumes
    <<: *default-user
    environment:
      <<: *default-environment
    depends_on:
      - cli

  nginx:
    image: uselagoon/nginx-drupal:23.2.0
    <<: *default-volumes
    <<: *default-user
    environment:
      <<: *default-environment
    depends_on:
      - cli
    networks:
      - amazeeio-network
      - default

  mariadb:
    image: uselagoon/mariadb-drupal:23.2.0
    environment:
      <<: *default-environment
    ports:
      - "3306"

  chrome:
    image: selenium/standalone-chrome:111.0
    shm_size: '1gb'
    <<: *default-volumes
    environment:
      <<: *default-environment
    depends_on:
      - cli

  # Helper container to wait for services to become available.
  wait_dependencies:
    image: dadarek/wait-for-dependencies
    depends_on:
      - cli
      - mariadb
    command: mariadb:3306

networks:
  amazeeio-network:
    external: true

volumes:
  app: {}
