##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#

parameters:

  level: 7

  phpVersion: 80224

  paths:
    - ../src
    - ../tests/behat/bootstrap
    - ../docs.php

  excludePaths:
    - vendor/*
    - node_modules/*
    - ../tests/behat/bootstrap/BehatCliContext.php

  scanFiles:
    - vendor/behat/behat/bin/behat
