##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#

parameters:

  level: 7

  phpVersion: 80224

  paths:
    - src
    - tests/behat/bootstrap
    - tests/phpunit/src
    - docs.php

  excludePaths:
    - vendor/*
    - node_modules/*
    - tests/behat/bootstrap/BehatCliContext.php
    - tests/behat/bootstrap/BehatCliTrait.php

  scanFiles:
    - vendor/behat/behat/bin/behat

  scanDirectories:
    - vendor/phpunit/phpunit
    - vendor/alexskrypnyk/phpunit-helpers

  ignoreErrors:
    -
      messages:
        # Since tests and data providers do not have to have parameter docblocks,
        # it is not possible to specify the type of the parameter, so we ignore
        # this error.
        - '#.*no value type specified in iterable type.*#'
        # Unit tests are not aware of the classes which are not loaded during tests.
        - '#.*Call to an undefined method.*Session\(\).*#'
        - '#.*Cannot call method.*getWebDriverSession\(\).*#'
        - '#.*Cannot call method.*getClient\(\).*#'
        - '#.*Cannot call method.*getCurrentUrl\(\).*#'
      paths:
        - tests/phpunit/*

    # @see https://github.com/mglaman/phpstan-drupal/issues/825
    - '#Call to method Drupal\\Core\\Entity\\Query\\QueryInterface::accessCheck\(\) with false will always evaluate to true.#'
