version: 2

aliases:
  # Common container configuration.
  - &container_config
    working_directory: /app
    resource_class: large
    docker:
      - image: drevops/ci-runner:25.3.0

job-build: &job-build
  steps:
    - checkout

    - setup_remote_docker

    - run:
        name: Adjust codebase for CI
        command: sed -i -e "/###/d" docker-compose.yml && sed -i -e "s/##//" docker-compose.yml

    - run:
        name: Build
        command: ahoy build
        no_output_timeout: 30m

    - run:
        name: Lint code
        command: ahoy lint || [ "${CI_LINT_IGNORE_FAILURE:-0}" -eq 1 ]

    - run:
        name: Lint documentation
        command: ahoy lint-docs || [ "${CI_LINT_DOCS_IGNORE_FAILURE:-0}" -eq 1 ]

    - run:
        name: Run tests with coverage
        command: ahoy test-bdd-coverage || [ "${CI_TEST_IGNORE_FAILURE:-0}" -eq 1 ]

    - run:
        name: Process test logs and artifacts
        command: |
          mkdir -p /tmp/test_results /tmp/artifacts
          if docker compose ps --services --filter "status=running" | grep -q cli && docker compose exec cli test -d /app/.logs; then
            docker compose cp cli:/app/.logs/. "/tmp/artifacts/"
            if docker compose exec -T cli sh -c 'test -d /app/.logs/test_results'; then
               docker compose cp cli:/app/.logs/test_results/. "/tmp/test_results/"
            fi
          fi
        when: always

    - store_test_results:
        path: /tmp/test_results

    - store_artifacts:
        path: /tmp/artifacts

    - run:
        name: Upload code coverage reports to Codecov
        command: |
          if [ -n "${CODECOV_TOKEN}" ] && [ -d /tmp/artifacts/coverage ] && ! echo "${CIRCLE_BRANCH}" | grep -q '^deps/'; then
            codecov -Z -s /tmp/artifacts/coverage;
          fi

jobs:
  build_d10:
    <<: *container_config
    environment:
      DRUPAL_VERSION: 10
    <<: *job-build

  build_d11:
    <<: *container_config
    environment:
      DRUPAL_VERSION: 11
    <<: *job-build

workflows:
  version: 2
  main:
    jobs:
      - build_d10
      - build_d11
