version: 2

jobs:
  build:
    working_directory: /app

    docker:
      - image: drevops/ci-runner:24.11.0
        environment:
          DRUPAL_VERSION: 10

    resource_class: large

    steps:
      - checkout

      - setup_remote_docker

      - run:
          name: Adjust codebase for CI
          command: sed -i -e "/###/d" docker-compose.yml && sed -i -e "s/##//" docker-compose.yml

      - run:
          name: Build
          command: ahoy build
          no_output_timeout: 30m

      - run:
          name: Lint code
          command: ahoy lint || [ "${CI_LINT_IGNORE_FAILURE:-0}" -eq 1 ]

      - run:
          name: Lint documentation
          command: ahoy lint-docs || [ "${CI_LINT_DOCS_IGNORE_FAILURE:-0}" -eq 1 ]

      - run:
          name: Run tests with coverage
          command: ahoy test-bdd-coverage || [ "${CI_TEST_IGNORE_FAILURE:-0}" -eq 1 ]

      - run:
          name: Process test logs and artifacts
          command: |
            mkdir -p /tmp/test_results /tmp/artifacts
            if docker compose ps --services --filter "status=running" | grep -q cli && docker compose exec cli test -d /app/.logs; then
              docker compose cp cli:/app/.logs/. "/tmp/artifacts/"
              if docker compose exec -T cli sh -c 'test -d /app/.logs/test_results'; then
                 docker compose cp cli:/app/.logs/test_results/. "/tmp/test_results/"
              fi
            fi
          when: always

      - store_test_results:
          path: /tmp/test_results

      - store_artifacts:
          path: /tmp/artifacts

      - run:
          name: Upload code coverage reports to Codecov
          command: if [ -d /tmp/artifacts/coverage ]; then codecov -Z -s /tmp/artifacts/coverage; fi

workflows:
  version: 2
  main:
    jobs:
      - build
